flow.json
[{"id":"6855e54d.dc65dc","type":"xfunction","z":"5479c4bc.d53f9c","name":"RED version","func":"node.warn(RED.red.version());\nreturn null;","outputs":1,"noerr":0,"x":505,"y":428,"wires":[[]]},{"id":"c44324c1.659408","type":"inject","z":"5479c4bc.d53f9c","name":"Cycle 0","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":268,"y":429,"wires":[["6855e54d.dc65dc","4f53aee9.5c361"]]},{"id":"4f53aee9.5c361","type":"xfunction","z":"5479c4bc.d53f9c","name":"Add Route","func":"if(global.get('home')===undefined){\n    node.warn('route added');\n    RED.red.httpNode.use('/home',RED.express.static('C:/Users/gbrau/.node-red/home'));\n    global.set('home',true);\n}\nreturn null;","outputs":1,"noerr":0,"x":487,"y":530,"wires":[[]]},{"id":"bce9287f.a35a88","type":"inject","z":"5479c4bc.d53f9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":277,"y":640,"wires":[["8b3d2eb7.0b11e"]]},{"id":"8b3d2eb7.0b11e","type":"xfunction","z":"5479c4bc.d53f9c","name":"process","func":"RED.process.exit();\nreturn null;","outputs":1,"noerr":0,"x":494,"y":640,"wires":[[]]}]
